.App {
  text-align: center;
  /* background-color: #000; */
}
.Calculator{
  text-align: center;
  font-size: 20px;
}
.input{
  font-size: 20px;
}

.Dark{
  color:white;
  background-color: black;
}
.Light{
  color:black;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
nav ul{
  list-style:none;
  gap: 10px; /* Adjust spacing between links */
  display: flex;
  justify-content: space-evenly;
}
.nav-link{
  color:aqua
}
.App-header {
  background-color: #10357d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
}

nav{
  display:flex;
  flex-direction: column;
  background-color:rgb(15, 15, 15);
}

.App-link {
  color: #61dafb;
}
.promo-section{
  font-weight: bold;
  line-height: 20px;
}
.card {
  margin: 10rem;
  max-width: 10rem;
  border: 1px solid gray;
  padding: 10rem;
  border-radius: 5rem;
}
.card:hover{
  animation: card none 5s linear;
  /* transform: translate(500px); */
}

@keyframes card {
  from {
    transform:rotateY(0deg);
  }
  to {
    transform:rotateY(360deg);
  }
}
.login-btn{
  position:absolute;
  right: 0%;
}
.ReactPlayer-btn{
  position:absolute;
  right: 0%;
}
button{
  color: #282c34;
  background-color: aqua;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid transparent;
  font-size:medium;
  margin-right: 5px;
}
button:hover{
  color: #61dafb;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  border: 1px solid transparent;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ReactPlayer {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  width: 30%;
  box-sizing: border-box; /* Add this line */
}
.fApp {
  display: flex;
  flex: 1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* border-radius: 5px; */
}

fieldset {
  display: flex;
  width: 480px;
  padding: 16px;
  color: #ffffff;
  background-color: #3d66ac;
  border: 1px solid transparent;
  border-radius:15px;
  flex-direction: column;
  /* background-color: tomato; */
}

label {
  margin-bottom: 8px;
  font-size: 14px;
}

sup {
  color: red;
  top: -2px;
  font-size: 95%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

input,
select {
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 32px;
  padding: 0 8px;
}

.Field {
  position: relative;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.FieldError {
  position: absolute;
  bottom: -6px;
  color: red;
  font-size: 12px;
}

.Row {
  display: flex;
  flex-direction: row;
}

.button {
  padding: 12px;
  width: 240px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: darkblue;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.button:disabled,
.button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.alert{
  background-color:#126529;
   color: rgb(61, 235, 8);
  border-radius: 5px;
}
