.App {
  text-align: center;
  /* background-color: #000; */
}
.Calculator{
  text-align: center;
  font-size: 20px;
}
.input{
  font-size: 20px;
}
.Dark{
  color: rgb(206, 205, 205);
  background-color: #282c34;
}
.Light{
  background-color: aliceblue;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
nav ul{
  list-style:none;
  gap: 10px; /* Adjust spacing between links */
  display: flex;
  justify-content: space-evenly;
}
.nav-link{
  color:aqua
}
.App-header {
  background-color: #10357d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
}

nav{
  display:flex;
  flex-direction: column;
  background-color:rgb(15, 15, 15);
}

.App-link {
  color: #61dafb;
}
.promo-section{
  font-weight: bold;
  line-height: 20px;
}
.card {
  margin: 10rem;
  max-width: 10rem;
  border: 1px solid gray;
  padding: 10rem;
  border-radius: 5rem;
}
.card:hover{
  animation: card none 5s linear;
  /* transform: translate(500px); */
}

@keyframes card {
  from {
    transform:rotateY(0deg);
  }
  to {
    transform:rotateY(360deg);
  }
}
.login-btn{
  position:absolute;
  right: -0.2%;
}
.ReactPlayer-btn{
  position:absolute;
  right: 0%;
}
button{
  color: #282c34;
  background-color: aqua;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid transparent;
  font-size:medium;
  margin-right: 5px;
}
button:hover{
  color: #61dafb;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  border: 1px solid transparent;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
